@media only screen and (max-width: 999px) {
    .mobile-version {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .imagem-menino-amarelo {
        width: 350px;
        
    }

}